<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>E-mail - Recuperar senha</title>
  </head>
  <body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <table cellpadding="0" cellspacing="0" border="0" width="100%" height="100%">
      <tbody>
        <tr>
          <td bgcolor="#f9f9f9" width="100%" height="100%" align="center" valign="top">
            <table width="550" border="0" cellpadding="0" cellspacing="0" align="center" style="line-height: 5px; background: #f9f9f9">
              <tbody>
                <tr>
                  <td width="550" height="306">
                    <div style="height: 306px">
                      <img src="https://prototipo.projetosfenix2.com.br/t5/2025/desafio03/img/email/header.png?v=1.0" width="550" height="306" alt="" />
                    </div>
                  </td>
                </tr>
                <tr>
                  <td bgcolor="#ffffff" style="font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 15px; font-weight: normal; color: #000000; line-height: 22px; padding: 20px" width="266" height="38" align="center">
                    Olá, <b style="color: #000">{Nome}</b>. <br /><br />
                    Recebemos sua solicitação para a redefinição de sua senha.<br />
                    Clique <a href="https://localhost:7011/html/recuperar-senha.html?token={token}" target="_blank" style="color: #51eb0c; text-decoration: underline; font-weight: bold">aqui</a> para redefini-la. <br />
                    <br />
                    Caso desconheça essa solicitação, por favor, desconsidere este e-mail. <br /><br />
                  </td>
                </tr>
                <tr>
                  <td bgcolor="#191919" width="550" height="90" align="center" valign="middle" style="font-family: Arial, sans-serif; font-size: 12px; line-height: 16px; color: #ffffff; padding: 15px">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultrices, libero aliquet efficitur mollis, lorem magna pharetra magna, congue  ultricies metus tellus ac urna. Duis quis mi ut lorem suscipit semper eu faucibus nisi. Aenean gravida lectus et consectetur rhoncus. Nulla  volutpat tellus sit amet nulla bibendum cursus. Proin sed vehicula quam, sit amet maximus metus. Pellentesque maximus aliquet urna, vitae  vestibulum risus pulvinar non. Quisque tempus dolor vitae dui dapibus,  non pulvinar risus pulvinar. Quisque ipsum lorem, aliquet ac tortor a,  gravida semper lorem.
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
